
<div class="container">
    <div class="page-header">
        <h3>
            New Group Event
        </h3>
    </div>
    <%= form_tag('/compromise/create', method: 'post') do %>
      <div class="form-group">
          <label>
              Event Title *
          </label>
          <input type="text" name="title" class="form-control">
      </div>
      <div class="form-group">
          <label>
              Event Type *
          </label>
          <select class="form-control">
              <option value="movie">
                  Movie
              </option>
              <option value="date">
                  Date Ideas
              </option>
              <option value="hike">
                  Hiking
              </option>
          </select>
      </div>
      <div class="form-group">
          <label>
              Event Description
          </label>
          <textarea class="form-control" rows="5" name="description"></textarea>
          <label>
              Select friends to be part of this event
          </label>
          <%if @friends.size == 0 %>
            </br>
            <label>To start events with friends use the search bar above to find your friends!</label>
          <%end%>
          <%@friends.each_with_index do |friend, index| %>
            <% if index % 3 == 0 %>
              <div class="row">
            <%end%>
            <div class="col-md-3">
              <label class="checkbox">
                  <input type="checkbox" name="participants[<%= friend.display_name %>]">
                  <%=friend.display_name%>
              </label>
            </div>
            <% if index % 3 == 0 %>
              </div>
            <%end%>
          <%end%>
      </div>
      <input class="btn btn-primary" type="submit" value="Create event">
      <a class="cancel" href="/">Cancel</a>
    <%end%>
</div>
