<div class="container">
    <div class="friends-list">
      <div class="page-header">
          <h3> Friends List </h3>
      </div>
      <div class="pending">
        <%unless @pending_invited.empty?%>
          <label> Friends Pending </label>
          <%@pending.each do |friend| %>
              <%= render partial: 'user_media_object', locals: { friend: friend, button_text: 'Invite is pending', button_link: '#', button_disabled: true, button_type: 'warning'} %>
          <%end%>
        <%end%>
        <br>
      </div>
      <div class="friends">
        <%@friends.each do |friend| %>
            <%= render partial: 'user_media_object', locals: { friend: friend, button_text: 'Remove', request_type: 'remove', button_disabled: false, button_type: 'danger'} %>
        <%end%>
        <br>
        <%if @friends.empty? %>
          <label>No friends added yet. Use the search bar at the top to find new friends!</label>
        <%end%>
       </div>
    </div>
</div>