<div class="section">
  <h2 class="title"><%= label %></h2>
  <div class="content">
    <% data.each do |data| %>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="https://s3.amazonaws.com/media.jetstrap.com/HxsVr0VRRYu0MpQvPntC_photo.png" alt="..." width="100">
            </a>
          </div>
          <div class="media-body">
            <span><%= link_to data.name, representative_path(data.id) %></span>
            <br>
            <br>
            <span>Republican</span>
            <br>
            <br>
            <span><%= data.house ? 'House' : 'Senate' %></span>
          </div>
        </div>
    <%end %>
  </div>
</div>
