<div class="representatives">
  <%= render partial: '/representative/representatives', locals: {label: user_location_label, data: @local_representatives}%>
  <div id="representative-map"></div>
</div>
