<div class="search-result actor">
  <a href="/actor/index?id=<%=result.id%>" class="pull-left">
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="http://image.tmdb.org/t/p/w500/<%=result.profile_path%>" alt="<%=result.name%>">
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <%=result.name%>
            </h4>
            <i>From Wikipedia, the free encyclopedia. Edward Hogg (born 1979) is an English actor, known for portraying Jesco White in White Lightnin' and Stephen Turnbull in Bunny and the Bull. Description above from the Wikipedia article Edward Hogg, licensed ...</i>
        </div>
    </div>
  </a>
</div>
