<div class="search-result actor">
  <div class="media">
      <div class="media-left">
          <a href="#" class="pull-left">
              <img class="media-object" src="http://image.tmdb.org/t/p/w500/<%=result.profile_path%>" alt="<%=result.name%>">
          </a>
      </div>
      <div class="media-body">
          <h4 class="media-heading">
              <%=result.name%>
          </h4>
          <i><%=truncate(result.biography, length: 250)%></i>
      </div>
  </div>
</div>
