<form action='/settings/profile' class="demo">
  <div class="u-form-group">
    <label>Email: </label>
    <input placeholder="Email" type="email" value="<%= current_user.email %>" name="user[email]" id="user_email">
  </div>
  <div class="u-form-group">
    <label>Name: </label>
    <input placeholder="Name" value="<%= current_user.name %>" name="user[name]" id="user_name">
  </div>
  <label>Age: </label>
  <select id="age">
    <% for i in 13..75 do %>
      <option><%= i %></option>
    <% end %>
  </select>
  <div class="u-form-group">
    <label>About Me: </label>
    <textarea placeholder="About Me" value="<%= current_user.bio %>" name="user[bio]" id="user_bio"></textarea>
  </div>
  <div class="form-controls">
    <input type="submit" name="commit" value="Save">
    <a class='cancel-form' href="/"> Cancel </a>
  </div>
</form>
