<div class="section">
  <h2 class="title"><%= label %></h2>
  <div class="content">
    <% data.each do |data| %>
        <div class="media">
          <div class="media-body">
            <span><%= link_to data.title, bill_path(data.id) %></span>
            <p><%= data.summary_short_short %></p>
          </div>
        </div>
    <%end %>
  </div>
</div>
