<div id="jumbo" class="jumbotron">
    <div class="container">
        <img src="https://s3.amazonaws.com/jetstrap-site/images/website/common/jetstrap_logo.png">
        <h1>
            Welcome to Unrecognized Voices!
        </h1>
        <p>
            Where you can view unbiased information about the Congress men and women who represent you AND where you can
            take action if they don't practice what they preach.
        </p>
        <p>
            To learn more read about all of the features and about how we work as
            a team.
        </p>
        <p>
            When you are ready, sign up using your facebook or google account or create
            a brand new account then start making your voice heard by the world.
        </p>

        <%= link_to 'Show Bills', bills_path('all') %>
        <%= link_to 'Show Representatives', representatives_path('all') %>
        <a href="/compromise/new" class="btn btn-primary btn-lg">Show me the Graphs</a>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <h2 id="about_us">
        What is Unrecoignized Voices used for?
    </h2>
    <hr>
    <p>
        Pretty fucking awesome. Thats what
    </p>
    <h2 id="features">
        Features
    </h2>
    <hr>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="https://s3.amazonaws.com/media.jetstrap.com/HxsVr0VRRYu0MpQvPntC_photo.png" alt="..." width="100">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                Movie Database
            </h4>
            Using popular open API's such as <a href="rottentomato.com">Rotten Tomato</a>
            and <a href="themoviedb.com">TheMovieDb</a> we have accumulated a vast database of movies.
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="https://s3.amazonaws.com/media.jetstrap.com/HxsVr0VRRYu0MpQvPntC_photo.png" alt="..." width="100">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                Recomendations
            </h4>
            Using both the communities rating of movies, your previous up/down votes of movies, and the previous votes of all the members in the group we suggest the best fit movies for your enjoyment.
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="https://s3.amazonaws.com/media.jetstrap.com/HxsVr0VRRYu0MpQvPntC_photo.png" alt="..." width="100">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                Viewing Enjoyment
            </h4>
            If the movie is being streamed in one of the popular streaming services such as <strong>Netflixs</strong> then a link is provided along side the movies description as well as a counter for everyone to get ready and see.
        </div>
    </div>
    <h4>
        And more!
    </h4>
    <h2>Give credit where credit is due</h2><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js ">
</script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js ">
    </script>
</div>

