<div id="jumbo" class="jumbotron">
    <div class="container">
        <img src="https://s3.amazonaws.com/jetstrap-site/images/website/common/jetstrap_logo.png">
        <h1>
            Welcome to Social Compromise!
        </h1>
        <p>
            Where you can start group events and find activities everyone will enjoy
        </p>
        <p>
            To learn more read about all of the features and about how we work as
            a team.
        </p>
        <p>
            When you are ready sign up using your facebook or google account or create
            a brand new account then start a new event and enjoy the world together
            with your friends.
        </p>
        <% if user_signed_in? %>
          <a href="/compromise/new" class="btn btn-primary btn-lg">Start a new event today!</a>
        <% else %>
          <a href="/users/login" class="btn btn-primary btn-lg">Start a new event today!</a>
        <% end %>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <h2 id="about_us">
        What is Social Compromise?
    </h2>
    <hr>
    <p>
        Pretty fucking awesome. Thats what
    </p>
    <h2 id="features">
        Features
    </h2>
    <hr>
    <div class="media">
        <div class="media-left">
            <a href="#" class="pull-left">
                <img class="media-object" src="https://s3.amazonaws.com/media.jetstrap.com/HxsVr0VRRYu0MpQvPntC_photo.png" alt="..." width="100">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                Media heading
            </h4>
            ...
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="https://s3.amazonaws.com/media.jetstrap.com/HxsVr0VRRYu0MpQvPntC_photo.png" alt="..." width="100">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                Media heading
            </h4>
            ...
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="https://s3.amazonaws.com/media.jetstrap.com/HxsVr0VRRYu0MpQvPntC_photo.png" alt="..." width="100">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                Media heading
            </h4>
            ...
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#&gt;
            &lt;img class=" media-object="" "=" " src="https://s3.amazonaws.com/media.jetstrap.com/HxsVr0VRRYu0MpQvPntC_photo.png
            " alt="... " width="100 ">
            </a>
        </div>

    </div>
    <h4>
        And more!
    </h4>
    <h2>Give credit where credit is due</h2><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js ">
</script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js ">
    </script>
</div>

