
<div class="slogan">
  <h3 class="title">Taking the lead for political perfection </h3>
  <span class="message">Learn about the people and bills affecting your life and TAKE ACTION!</span>
</div>
<%= link_to 'Show Bills', bills_path('all') %>
<%= link_to 'Show Representatives', representatives_path('all') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js "></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js "></script>
