<div class="container">
    <div class="specific-user-profile">
        <div class="page-header">
            <h3>
              [Displayed Name]
            </h3>
        </div>
        <div class="row">
            <div class="col-md-3">
              <img class="pull-left" src="http://image.tmdb.org/t/p/w500//3Rdq9ZYEPxTJxyx1GKdlR6gThzV.jpg" alt="display_name">
            </div>
            <div class="col-md-9">
              <div class="col-md-5">
                <label> E-Mail Address: </label>
                <span>[E-Mail Address]</span>
              </div>

              <div class="col-md-5">
                <label> Birthday: </label>
                <span>[Birthday]</span>
              </div>

              <div class="col-md-5">
                <label>State:</label>
                <span>[State]</span>
              </div>

              <div class="col-md-5">
                <label> Gender: </label>
                <span>[Birthday]</span>
              </div>
              <div class="col-md-5">
                <label>Party</label>
                <span>[DropDown List]</span>
              </div>
              <div class="col-md-9">
                <label> About Me: </label>
                <span>[About Me]</span>
              </div>
            </div>
        </div>
      <div class="row">
        <div class="col-md-12"><h3>Private</h3></div>
        <div class="col-md-12">
          <span>The fields below are to help gather useful statitics regarding common trends based on
                peoples positions and who they support and which bills they favor. For more information
                about any of the tops below please hover over the tooltip icon and a detailed explaniation will appear.
          </span>
        </div>
        <div class="col-md-5">
          <label>Military Spending</label><br>
          <span>[Increase spending, decrease spending, No Answer]</span>
        </div>
        <div class="col-md-5">
          <label>Gay Marrage</label><br>
          <span>[Legal, Illegal, No Answer]</span>
        </div>
        <div class="col-md-5">
          <label>Abortion</label><br>
          <span>[Legal, Illegal, No Answer]</span>
        </div>
        <div class="col-md-5">
          <label>Death Penalty</label><br>
          <span>[Legal, Illegal, No Answer]</span>
        </div>
        <div class="col-md-5">
          <label>Government Regulation</label>
          <span>[Increase Regulations, Decrease Regulations, No Answer]</span>
        </div>
        <div class="col-md-5">
          <label>Immigration</label>
          <span>[easy options?]</span>
        </div>

      </div>
    </div>
</div>