// Place all the styles related to the compromise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-compromise {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(/assets/header-bg.jpg);
}
.new-compromise-form {
  padding-top: 25px;
}
.cancel {
  padding-left: 35px;
}
.compromise {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(/assets/header-bg.jpg);
}
