#error_explanation{
  position:relative;
  margin: 10px auto;
  width: 500px;
  ul li {
    color: #DF4A32;
  }
}
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Roboto);

.sign-up-or-in {

  padding-top: 10%;
  height: 100%;
  width: 100%;

  .sign-in, .sign-up {
    background-color: #444444;
    border-radius: 20px;
    margin: 20px;
    padding-bottom: 10px;
  }
  .sign-up {
    .inputUserIcon {
      top: 68px;
    }

    .inputEmailIcon {
      top: 68px;
    }
    .inputPassIcon {
      top: 134px;
    }

    .inputConfirmPassIcon {
      top: 202px;
    }

    button {
      height: 197px;
    }

  }
  .sign-in {
    .inputEmailIcon {
      top: 68px;
    }
    .inputPassIcon {
      top: 134px;

    }

    button {
      height: 130px;
    }
  }

  .or {
    h2 {
      line-height: 10;
      text-align: center;
    }
    //background: url("https://cdn2.iconfinder.com/data/icons/outline-business-planning-management-black-set-2/64/1-98-128.png") no-repeat;
  }

  .sign-up, .sign-in {
    /* zocial */
    [class*="entypo-"]:before {
      font-family: 'entypo', sans-serif;
    }

    h2 {
      color: rgba(255, 255, 255, .8);
      margin-left: 12px;
    }

    form {
      position: relative;
      margin: 50px auto;
      width: 380px;
      height: auto;
    }
    input {
      padding: 16px;
      border-radius: 7px;
      border: 0px;
      background: rgba(255, 255, 255, .2);
      display: block;
      margin: 15px !important;
      width: 300px;
      color: white;
      height: 54px;
    }
    input:focus {
      outline-color: rgba(0, 0, 0, 0);
      background: rgba(255, 255, 255, .95);
      color: #e74c3c;
    }
    button {
      float: right;
      width: 50px;
      border: 0px;
      background: #e74c3c;
      border-radius: 7px;
      padding: 10px;
      color: white;
    }

    .inputPassIcon, .inputUserIcon, .inputEmailIcon, .inputConfirmPassIcon {
      position: absolute;
      right: 80px;
      color: #e74c3c;
    }

    input::-webkit-input-placeholder {
      color: #e74c3c;

    }

    input:focus::-webkit-input-placeholder {
      color: #e74c3c;
    }
    .social-container {
      .social-divide {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, .8);
        line-height: 0.1em;
        margin: 10px 0 20px;
        span {
          padding: 0 10px;
          background-color: #444444;
          color: rgba(255, 255, 255, .8);
        }
      }

      .col-md-4 {
        text-align: -webkit-center;
      }

      a {
        display: flex;
        width: 30px;
        svg {
          height: 30px;
        }
      }
    }
  }
}
