.search{
  position: absolute;
  top:10px;
  bottom: 0;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 300px;
  white-space: nowrap;
}

.search input#search{
  width: 300px;
  height: 30px;
  border: none;
  font-size: 10pt;
  background: #E1E1E1;
  padding-left: 45px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;


  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.search input#search::-webkit-input-placeholder {
  color: #65737e;
}

.search input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;
}

.search input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;
}

.search input#search:-ms-input-placeholder {
  color: #65737e;
}

.search input#search:hover, .search input#search:focus, .search input#search:active{
  outline:none;
  background: #ffffff;
}
/* UserNav */
.user-nav {
  margin-top:10px;
  margin-right: 10px;
}

.profile {
  padding-bottom: 15px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

/* hide menu */
.icon {
  position: absolute;
  top: 3px;
  left: 10px;
}

.menu {
  display:none;
  clear:both;
  margin:20px 0 0 0;
  background-color: #ffffff;
  opacity:0.6;
  width: 200px;
}
/* hover profile show menu */
.profile:hover .menu {
  display: block;
  background-color: #eee;
  position: absolute;
  right: 10px;
  top: 40px;
}

.menu li:hover {
  background-color: red;
}
.menu li {
  padding: 15px;
  vertical-align: middle;
}
.menu a {
  width: 200px;
}
.menu a:hover {
  text-decoration: none;
  color: #eee;
}
