// Place all the styles related to the representative controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.representatives {
  min-height: 500px;

  #representative-map {
    height: 500px;
  }

  .section {
    .title {
      height: 30px;
    }
    .content {
      display: inline-block;
      .media {
        float: left;
        width: 270px;
      }
    }
  }
}
