.settings-nav{
  float: left;
  height: 100%;
  width: 250px;
  background-color: hotpink;
  ul{
    list-style-type: none;
    li {
      padding: 11px;
      a {
        text-decoration: none;
        color: darkslategray;
      }
    }
  }
}

.settings-page{
  float:right;
  width: calc(100% - 250px);
  .profile-form {
    padding: 35px;
    width: 65%;
    .submit {

    }
    .u-form-group {
      padding-top: 10px;
    }
    input, textarea {
      height: 45px;
      width: 100%;
      border: 1px solid #ddd;
      padding: 0 10px;
      font-size: 0.8rem;
    }
    .u-form-group.first-name {
      display: inline-block;
      width: 50%;
      input {
        width: 100%;
      }
    }
    .u-form-group.last-name {
      margin-left: 34px;
      display: inline-block;
      width: 44%;
      input {
        width: 100%;
      }
    }
    .submit {
      width: 75%;
    }
    .cancel-form {
      float: right;
    }
    textarea {
      padding: 10px;
      height: 100px;
    }
  }
  height: 100%;
  background-color: #eeeeee;
}


#age{
  height: 20px;
}