$general-link-not-visited-color: #8a6d3b;
$special-link-not-visited-color: #8a6d3b;

$general-link-hover-color: orange;
$special-link-hover-color: orange;

$general-link-visited-color: orange;
$special-link-visited-color: orange;

$general-text-color: #444444;
$special-text-color: #444444;

$general-header-color: #424242;
$special-header-color: #444444;

$general-input-field-color: #444444;
$special-input-field-color: #444444;

$required-field-color: red;
