<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Social Compromise</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/#about_us">About us</a>
            </li>
            <li>
                <a href="/#features">Features</a>
            </li>
            <li>
                <a href="/#contact_us">Contact Us</a>
            </li>
            <li>
                <form action="/search?page=1" class="search-form" _lpchecked="1">
                    <div class="form-group has-feedback">
                        <label for="q" class="sr-only">Search</label>
                        <input type="text" class="form-control" name="q" id="search" placeholder="search">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </form>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
              <li>
                  <a href="/settings/profile" class="profile-picture" style="padding: 0px">
                    <img src="https://secure.gravatar.com/avatar/2f05a5d3273d54e90f1ad6dca5eb97bc?s=47" />
                  </a>
              </li>
              <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=current_user.display_name%> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="/settings/profile">Profile</a></li>
                      <li><a href="/settings/friends">Friends</a></li>
                      <li><a href="/settings/favorites">Favorites</a></li>
                      <li><a href="/settings/settings">Settings</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a rel="nofollow" data-method="delete" href="/users/logout">Logout</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                  </ul>
              </li>
        <% else %>
          <li>
              <%= link_to "Sign In", new_user_session_path %>
          </li>
          <li>
              <%= link_to "Sign Up", new_user_registration_path %>
          </li>
        <% end %>
        </ul>
    </div>
</nav>