<div class="settings-nav">
    <ul>
        <li class="profile" class="active"><a href="/settings/profile">Profile</a></li>
        <li class="friends"><a href="/settings/friends">Friends</a></li>
        <li class="favorites"><a href="settings/favorites">Favorites</a></li>
    </ul>
</div>